:root {
    --Cor-primaria: #33283D;
    --Cor-secundaria:#08070B;
    --Cor-fundo:#08070B;
    --Cor-texto:#7B2CBF;
    --Cor-contraste:#F1EDF4;
    --Cor-botão:#AFA5B5;
}

.Tema-claro {
    --Cor-primaria: #D8CDE0;
    --Cor-secundaria:#F8F5FA;
    --Cor-fundo:#F8F5FA;
    --Cor-texto:#7B2CBF;
    --Cor-contraste:#211A24;
    --Cor-botão:#6F6575;
}


body {
    max-width: 100vw;
}



header{
            background-color: var();
            color: var(--Cor-contraste);
            text-align: center;
            margin: 0 auto;
            padding: 16px;
        }
        main{
            background-color: var(--Cor-fundo);
            color: var(--Cor-primaria);
            margin: 0 auto;
            padding: 16px;

            display: flex;
            flex-wrap: wrap;
        }

        article {

            display: flex;

            border: 1px solid var(--Cor-primaria);

            margin: 16px;
            gap: 16px;
            padding: 16px;

            flex: 1 1 25%;

            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
        }
        h3{
            color: #AFA5B5;
        }

        h2{
            color:#C77DFF;
        }

        h1{
            color: #7B2CBF;
        }